.logo {
    padding-left: 15px;
    display: flex;
}

.descr {
    padding-left: 10px;
    width: 87px;
    height: 75px;
    color: #000000;
    font-family: Kreon;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media (max-width: 680px) {
    .logo {
        padding-left: 0;
    }
}